html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: Verdana, Arial, monospace;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 8px 0;
}

h2 {
  width: 25%;
  padding-bottom: 8px;
}

ul {
  margin: 8px 0;
}

h4 + ul {
  margin: 0;
  margin-top: 8px;
}

a {
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

div.code {
  border-radius: 3px;
  padding: 3px;
}

span.tag {
  border-radius: 3px;
  padding: 3px;
  display: inline;
}

#container {
  padding: 0 20px 20px;
  max-width: 1040px;
}

nav {
  position: sticky;
  top: 0px;
  padding: 8px;
  padding-left: 20px;
}

nav input {
  display: none;
}

nav a {
  text-decoration: none;
}

#menu {
  list-style-type: none;
  display: flex;
  margin: 0;
}

#menu li {
  width: 100%;
  padding: 0 8px;
  border-bottom: 3px solid transparent;
}

.list {
  list-style: none;
  font-size: 20px;
  padding-left: 0;
}

.list li {
  padding-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.bottom-spacer {
  padding-bottom: 8px;
}

.hr:not(:last-child) {
  width: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
