@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  h2 {
    border-bottom: 1px solid black;
  }

  a {
    color: black;
  }

  a:hover {
    color: gray;
  }

  div.code {
    color: black;
  }

  span.tag {
    color: black;
  }

  nav {
    box-shadow: 0 1px 3px black;
    background-color: white;
  }

  .active-header {
    border-bottom: 3px solid black;
  }

  .hr:not(:last-child) {
    border-bottom: 2px solid black;
  }

  .button {
    background-color: white;
    color: black;
  }

  .button:hover,
  .button:focus {
    background-color: gray;
    color: black;
  }
  .button:active {
    box-shadow: 0 0 0 1px black;
  }
}
