@page {
  size: auto;
  margin: 0;
}

@media print {
  body {
    margin: 4mm !important;
  }

  nav {
    display: none !important;
  }

  .break {
    page-break-after: always;
  }
  .job:nth-child(2n) {
    padding-top: 8mm;
  }

  .job:nth-child(2n + 1) {
    page-break-after: always;
    border-bottom: none !important;
  }
  .other_job:nth-last-child(2) {
    page-break-after: unset !important;
    border-bottom: 2px solid black !important;
  }
  .other_job:nth-last-child(1) {
    padding-top: unset;
  }

  #projects {
    padding-top: 8mm;
  }
  #volunteer {
    padding-top: 8mm;
    page-break-before: always;
    border-bottom: none !important;
  }

  .project p,
  .education p {
    margin: 0;
  }

  .p-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .p-hide {
    display: none;
  }

  .p-twocol {
    column-count: 2;
    column-width: 20px;
  }
  .p-fourcol {
    column-count: 4;
    column-width: 20px;
    line-height: 1.1;
  }

  a {
    text-decoration: none;
  }
}
